<div *ngIf="!course.isTentative" class="container">
    <!-- <img [src]="course?.imageUrl" [alt]="course?.name" class="course-image"> -->

    <div class="row">
      <div class="col-md-11">
        <h2>
          {{course?.name | uppercase}}

          <button  *ngIf="authServ.currentUser.authorizationId == 2 || isCreator" class='btn-default' (click)='goToEdit()'><i class='fa fa-edit' data-toggle="tooltip" data-placement="bottom" title="Edit"></i></button>
          <button  *ngIf="authServ.currentUser.authorizationId == 2" class='btn-default' (click)='duplicate()'><i class='fas fa-copy' data-toggle="tooltip" data-placement="bottom" title="Duplicate"></i></button>
          <button  *ngIf="authServ.currentUser.authorizationId == 2" class='btn-default' (click)='getAttendance()'><i class='fas fa-user-graduate' data-toggle="tooltip" data-placement="bottom" title="download list of attendance"></i></button>
          <button  *ngIf="authServ.currentUser.authorizationId == 2 || isCreator" class='btn-default' (click)='delCourse()'><i class='fas fa-trash-alt' data-toggle="tooltip" data-placement="bottom" title="Delete"></i></button>
          <button class='btn-default' (click)='sendInvites()'><i class='fas fa-envelope' data-toggle="tooltip" data-placement="bottom" title="Send Invitations"></i></button>
          <button class='btn-default' (click)='goToNext()'><i class='fas fa-arrow-alt-circle-right' data-toggle="tooltip" data-placement="bottom" title="Next Course"></i></button>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div><strong>Lecturer/Supplier:</strong> {{course?.lecturer | titlecase}}</div>
        <div *ngFor='let date of course?.schedule'>
          <span><strong>Date:</strong> {{date.dateTimeStart | date:'dd/MM/yyyy'}}</span>
          <span style='padding-left: 10px;'><strong>Hours:</strong> {{date.dateTimeStart | date:'HH:mm'}}-{{date.dateTimeEnd | date:'HH:mm'}}</span>
        </div>
        <div><strong>Duration:</strong> {{course?.totalHours}}</div>
        <div><strong>Total Hours:</strong> {{course?.totalHours * course?.participants.length}}</div>
        <div><strong>Price:</strong> {{course?.price | currency:'USD'}}</div>
        <div><strong>Location:</strong> {{course?.venue | titlecase}}, {{course?.isIn ? 'In' : 'Out'}} {{course?.isIn ? '' : (course.isConference ? ', Conference' : '')}}</div>
        <div><strong>Mandatory:</strong> {{course?.isMandatory ? 'Yes' : 'No'}}</div>
        <div><strong>Type:</strong> {{course?.courseType ? 'Enrichment' : 'Technical'}}</div>
        <div> <strong>Course Creator:</strong> {{course?.creator}} </div>
      </div>
      <div class="col-md-6">
        <div>
          <strong>Syllabus:</strong><br />
          <div class='textForMailWrapper' [innerHTML]='sanitizer.bypassSecurityTrustHtml(course?.syllabus)'></div>
        </div><br/>
        <div>
          <strong>Notes:</strong><br />
          {{course?.notes}}
        </div><br/>
        <div>
          <strong>Text For Mail:</strong><br />
          <div class='textForMailWrapper' [innerHTML]='sanitizer.bypassSecurityTrustHtml(course?.textForMail)'></div>
        </div>
      </div>
    </div>

    <hr>



    <div class="row" style="margin-bottom:10px">
      <div class="col-md-2">
        <h3 style="margin:0">Participants</h3>
      </div>
    </div>

    <coma-collapsible-well-list [numOfCols]='3' [itemList]='course.participants' [titleField]="'fullName'">
        <ng-template let-item="item">
          <div well-body>
            <h5>Education Hours: {{item.hours}}</h5>
          </div>
          </ng-template>
    </coma-collapsible-well-list>

    <div class="row" style="margin-bottom:10px">
      <div class="col-md-2">
        <h3 style="margin:0">Attendance</h3>
      </div>
    </div>

    <div *ngFor='let dateTime of course?.schedule'>
      <div class='well col-md-4' *ngIf='!passed(dateTime)' style='margin-right: 5px; padding-top: 0px'>
        <h5> {{dateTime.dateTimeStart | date:'dd/MM/yyyy'}} {{dateTime.dateTimeStart | date:'HH:mm'}}-{{dateTime.dateTimeEnd | date:'HH:mm'}}
        Mark attendance after the course
        </h5>
      </div>

      <div class='well col-md-4' *ngIf='passed(dateTime)' style='margin-right: 5px; padding-top: 0px'>
        <h5> {{dateTime.dateTimeStart | date:'dd/MM/yyyy'}} {{dateTime.dateTimeStart | date:'HH:mm'}}-{{dateTime.dateTimeEnd | date:'HH:mm'}}
          <div style='margin-left: 10px' [class.mat-raised-button]='didAttend(course?.participants[0], dateTime)'
               [class.mat-stroked-button]='!didAttend(course?.participants[0], dateTime)'
               (click)='setAttendanceAll(course?.participants, dateTime)'>Mark all
          </div>
        </h5>
        <div *ngFor="let user of course?.participants" style='margin: 5px'
          [class.mat-raised-button]='didAttend(user, dateTime)'
          [class.mat-stroked-button]='!didAttend(user, dateTime)'
          (click)='setAttended(user, dateTime)'
          >{{user.fullName}}
        </div>

      </div>
    </div>


  </div>



  <div *ngIf="course.isTentative" class="container">
    <!-- <img [src]="course?.imageUrl" [alt]="course?.name" class="course-image"> -->

    <div class="row">
      <div class="col-md-11">
        <h2>
          {{course?.name | uppercase}}

          <button  *ngIf="authServ.currentUser.authorizationId == 2 || course?.isTentative" class='btn-default' (click)='goToEdit()'><i class='fa fa-edit' data-toggle="tooltip" data-placement="bottom" title="Edit"></i></button>
          <button  *ngIf="authServ.currentUser.authorizationId == 2" class='btn-default' (click)='delCourse()'><i class='fas fa-trash-alt' data-toggle="tooltip" data-placement="bottom" title="Delete"></i></button>
          <button class='btn-default' (click)='goToNext()'><i class='fas fa-arrow-alt-circle-right' data-toggle="tooltip" data-placement="bottom" title="Next Course"></i></button>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let date of course?.schedule'>
          <span><strong>Date:</strong> {{date.dateTimeStart | date:'dd/MM/yyyy'}}</span>
        </div>
        <div><strong>Duration:</strong> {{course?.totalHours}}</div>
        <div><strong>Estimate Participants:</strong> {{course?.participantsAmountEstimated}}</div>
        <div><strong>Total Hours:</strong> {{course?.totalHours * course?.participantsAmountEstimated}}</div>
      </div>

    </div>

    <hr>

  </div>
