.notif-wrapper {
  position: fixed;
  z-index: 999;
  top: 5px;
  right: 5px;
}

.notif {
  font-family: Lato;
  color: white;
  word-wrap:break-word;
  z-index: 999;
  line-height: 20px;
  text-align: center;
  font-style: oblique;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  min-height: 20px;
  min-width: 160px;
  max-width: 300px;
  padding: 15px;
  cursor: pointer;
}

.error-notif {
  background: linear-gradient(-90deg, #f13e3e, #661f1f);
}

.msg-notif {
  background: linear-gradient(-90deg, #4a7414, #318b0d);
}
