.form-control[disabled] {
  background-color: darkgray;
}

.btn-default {
  margin-left: 10px;
}

em {
  float:right;
  color:#E05C65;
  padding-left:10px;
}

.error input, .error select, .error textarea {
  background-color:#E3C3C5;
}

.error ::-webkit-input-placeholder {
  color: #999;
}

.error :-moz-placeholder {
  color: #999;
}

.error ::-moz-placeholder {
  color: #999;
}

.error :ms-input-placeholder {
  color: #999;
}

.table.table-bordered, .table.table-bordered th, .table.table-bordered td {
  border: 1px solid #000000 !important;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.fixed-row-size{
  table-layout: fixed;
}

.table-header {
  color: white;
  background-color: rgb(119, 132, 155);

}

.table-header-width{
  width:120px !important;
}
