<div class="row">
  <div class="col-md-4">
    <h4>
      Yearly Budget: {{yearlyBudget | currency:'USD'}}
      <button class='btn-default' (click)='editable = !editable'><i class='fa fa-edit' data-toggle="tooltip" data-placement="bottom" title="Edit Budget"></i></button>
    </h4>
    <form id="budget" class="form-inline" *ngIf="editable">
      <div class="form-group" [ngClass]="{'error': budget.invalid || !(yearlyBudget > 0)}">
        <div class="input-group">
          <em *ngIf="!(yearlyBudget > 0)">Budget must be positive</em>
          <input required [(ngModel)]="yearlyBudget" name="budget" type="number" class="form-control" placeholder="budget..." #budget="ngModel">
          <div class="input-group-addon btn btn-default" (click)="saveBudget()">Save</div>
        </div>
      </div>
    </form>
    <h4>Yearly Cost: {{avgMonthlyCost * 12 | currency:'USD'}}</h4>
    <h4>Monthly Budget: {{yearlyBudget/12 | currency:'USD'}}</h4>
    <h4>Average Monthly Cost: {{avgMonthlyCost | currency:'USD'}}</h4>
  </div>

  <div class="col-md-8">
    <div style="display: block;">
      <canvas baseChart width="400" height="300" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [legend]="lineChartLegend" [chartType]="lineChartType" style="background-color: #2a2f33"></canvas>
    </div>
  </div>
</div>
