<div class='well'>
  <form id="searchForm">
    <div class="form-group col-md-6" *ngIf="filterField === 'name' || filterField === 'lecturer'">
      <input [(ngModel)]="filterBy" name="filterBy" type="text" class="form-control" placeholder="Filter By..">
    </div>
    <div class="form-group col-md-6" *ngIf="filterField === 'schedule'">
      <select class="form-control" [(ngModel)]="filterBy" name="filterBy">
        <option value="current" selected>Currently Running</option>
        <option value="future">Not Started</option>
        <option value="past">Finished</option>
      </select>
    </div>
    <div class="form-group col-md-6" *ngIf="filterField === 'isIn'">
      <select class="form-control" [(ngModel)]="filterBy" name="filterBy">
        <option value='true' selected>In</option>
        <option value='false' >Out</option>
      </select>
    </div>
    <div class="form-group col-md-6" *ngIf="filterField === 'isMandatory'">
      <select class="form-control" [(ngModel)]="filterBy" name="filterBy">
        <option value='true' selected>Mandatory</option>
        <option value='false' >Not Mandatory</option>
      </select>
    </div>
    <div class="form-group col-md-6" *ngIf="filterField === 'courseType'">
        <select class="form-control" [(ngModel)]="filterBy" name="filterBy">
          <option value='0' selected>Technical</option>
          <option value='1' >Enrichment</option>
        </select>
      </div>
    <div class="form-group col-md-4" *ngIf="filterField === 'dates'">
      <div class="input-group">
        <div class="input-group-addon" (click)="picker1.open()">
          <i class="fa fa-calendar"></i>
        </div>
        <input [(ngModel)]="fromDate" name="fromDate" matInput [matDatepicker]="picker1" placeholder="From Date" class="form-control">
        <mat-datepicker #picker1></mat-datepicker>
      </div>
    </div>
    <div class="form-group col-md-4" *ngIf="filterField === 'dates'">
        <div class="input-group">
          <div class="input-group-addon" (click)="picker2.open()">
            <i class="fa fa-calendar"></i>
          </div>
          <input [(ngModel)]="toDate" name="toDate" matInput [matDatepicker]="picker2" placeholder="To Date" class="form-control">
          <mat-datepicker #picker2></mat-datepicker>
        </div>
      </div>
    <div class="form-group col-md-6" *ngIf="filterField !== 'dates'">
      <select class="form-control" [(ngModel)]="filterField" name="filterField">
        <option *ngFor="let field of filterFields" [value]="field.prop">{{field.disp}}</option>
      </select>
    </div>
    <div class="form-group col-md-4" *ngIf="filterField === 'dates'">
      <select class="form-control" [(ngModel)]="filterField" name="filterField">
        <option *ngFor="let field of filterFields" [value]="field.prop">{{field.disp}}</option>
      </select>
    </div>
  </form>
  <coma-collapsible-well-list [isDroppable]='true' (dropItem)='dropped($event)' [isDraggable]='true' (dragStartItem)='drag($event)'
    [itemList]='visibleConfList' [titleField]="'name'" (opened)='courseOpened($event)'>
    <ng-template let-item="item">
      <div well-body>
        <h5 *ngIf='!(item?.venue.length > 0)'>{{item.lecturer}}</h5>
        <h5 *ngIf='(item?.venue.length > 0)'>{{item.lecturer}}, {{item?.venue | titlecase}}, {{item?.isIn ? 'In' : 'Out'}} {{item?.isIn ? '' : (item.isConference ? ', Conference' : '')}}</h5>
        <div>Schedule:</div>
        <div *ngFor='let date of item.schedule'>{{date.dateTimeStart | date:'dd/MM/yyyy'}}, {{date.dateTimeStart |
          date:'HH:mm'}}-{{date.dateTimeEnd | date:'HH:mm'}}</div>
        <div>Price: {{item.price | currency:'USD'}}</div>
        <div>Duration: {{item.totalHours}}</div>
        <div>Mandatory: {{item?.isMandatory ? 'Yes' : 'No'}}</div>
        <div>Type: {{item?.courseType ? 'Enrichment' : 'Technical'}}</div>
        <p>Syllabus: {{item.syllabus}}</p>
        <p>Notes: {{item.notes}}</p>
        <div>Participants: </div>
        <div *ngFor='let user of item.participants' class='col-md-6'>{{user.fullName}} <i *ngIf='!isPm' class='fas fa-user-slash remove-user'
            (click)='removeUser(item,user)'></i></div>
      </div>
      <div *ngIf='!isPm' class='go-to-details row'>
        <div class='col-md-12'>
          <i class="fas fa-arrow-alt-circle-right" (click)='goToDetails(item.name)'></i>
        </div>
      </div>
    </ng-template>
  </coma-collapsible-well-list>
  <div class='add-course'>
    <a [routerLink]="['/edit']"><i class='fa fa-plus'></i></a>
  </div>
</div>
