  button {
      color: white
  }

  form {
    width: 400px;
    height: 400px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    border: 2px solid;
    position: relative;
    border-color: #3f576d;
    box-shadow: 0 0 30px #91b0cc;
    text-align: center;
  }

  #form1 {
    color: #faf4f4 !important;
  }

  #err {
    color : red;
  }

 /deep/ .mat-form-field-underline {
    background-color: white !important;
  }

  /deep/ .mat-focused:not(.mat-form-field-invalid) .mat-form-field-ripple {
    background-color: grey !important;
  }

  /deep/ .mat-placeholder-required {
    color:white;
  }

  /deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white;
  }

  /deep/ .mat-form-field.mat-focused:not(.mat-form-field-invalid) .mat-form-field-label, /deep/ .mat-focused:not(.mat-form-field-invalid) .mat-form-field-required-marker {
    color: grey !important;
  }
