.well {
  height: calc(100vh - 90px);
  overflow-y: auto;
}

.add-course {
  font-size: 30px;
  text-align: right;
}

a {
  color: #38e638;
}

.fa.fa-plus {
  text-shadow: 0 0 20px rgb(128, 231, 128)
}

.go-to-details {
  font-size: 30px;
  text-align: right;
  cursor: pointer;
}

.remove-user {
  cursor: pointer;
  color: rgb(214, 122, 122);
}

