
.well {
  height: calc(100vh - 90px);
  overflow-y: auto;
}

.go-to-details {
  font-size: 30px;
  text-align: right;
  cursor: pointer;
}

.remove-user {
  cursor: pointer;
  color: rgb(214, 122, 122);
}

.sort {
  font-size: 15px;
}

.border {
  border: solid 1px #babbbd;
}
