<div class='well'>
  <form id="filterForm" *ngIf="isFilter || !smallDisp">
    <div class="form-group col-md-{{6/widthAdjust}}" *ngIf="filterField !== 'hours'" >
      <input [(ngModel)]="filterBy" name="filterBy" type="text" class="form-control" placeholder="Filter By...">
    </div>
    <div class="form-group col-md-{{3+1-widthAdjust}}" *ngIf="filterField === 'hours'" >
      <input [(ngModel)]="fromHours" name="fromHours" type="number" class="form-control" placeholder="From Hours...">
    </div>
    <div class="form-group col-md-{{3+1-widthAdjust}}" *ngIf="filterField === 'hours'" >
      <input [(ngModel)]="toHours" name="toHours" type="number" class="form-control" placeholder="To Hours...">
    </div>
    <div class="form-group col-md-{{4/widthAdjust}}">
      <select class="form-control" [(ngModel)]="filterField" name="filterField">
        <option *ngFor="let field of filterFields" [value]="field.prop">{{field.disp}}</option>
      </select>
    </div>
  </form>
  <form id="sortForm" *ngIf="!isFilter || !smallDisp">
    <div class="col-md-{{6/widthAdjust}}">Sort by:
      <div class="btn-group btn-group-sm" style="margin-right:20px;margin-left:20px">
        <button class="btn btn-default" [class.active]="sortBy==='fullName'" (click)="sortBy='fullName'">Name</button>
        <button class="btn btn-default" [class.active]="sortBy==='hours'" (click)="sortBy='hours'">Hours</button>
      </div>
    </div>
    <div class="col-md-{{4/widthAdjust}} btn-group btn-group-sm">
      <button class="btn btn-default sort" *ngIf="sortBy!=='hours' && !sortAscend" (click)='sortAscend = true'><i class="fas fa-sort-alpha-up"></i>  Descending</button>
      <button class="btn btn-default sort" *ngIf="sortBy!=='hours' && sortAscend" (click)='sortAscend = false'><i class="fas fa-sort-alpha-down"></i>  Ascending</button>
      <button class="btn btn-default sort" *ngIf="sortBy==='hours' && !sortAscend" (click)='sortAscend = true'><i class="fas fa-sort-numeric-up"></i>  Descending</button>
      <button class="btn btn-default sort" *ngIf="sortBy==='hours' && sortAscend" (click)='sortAscend = false'><i class="fas fa-sort-numeric-down"></i>  Ascending</button>
    </div>
  </form>
  <div class="form-group col-md-2" *ngIf='smallDisp'>
    <mat-slide-toggle [(ngModel)]="isFilter" name="sortOrFilter"></mat-slide-toggle>
    <br>{{isFilter ? 'Filter' : 'Sort'}}
  </div>
  <coma-collapsible-well-list [isDroppable]='true' (dropItem)='dropped($event)' [itemList]='visibleUserList' [isDraggable]='true'
                              (dragStartItem)='drag($event)' [titleField]="'fullName'" (opened)='userOpened($event)'>
    <ng-template let-item="item">
      <div well-body>
        <h5>Education Hours: {{item.hours}}</h5>
        <div>Courses: </div>
        <div *ngFor='let course of item.yearCourses' class='col-md-6 border'>{{course}} <i *ngIf='!isPm' class='fas fa-times remove-user' (click)='removeUser(item, course)'></i></div>
      </div>
      <div class='go-to-details row'>
        <div class='col-md-12'>
          <i class="fas fa-arrow-alt-circle-right" (click)='goToDetails(item.ID)'></i>
        </div>
      </div>
    </ng-template>
  </coma-collapsible-well-list>
</div>
